* {
    font-family: 'Zalando Sans Expanded';
}

header > * {
    text-align: center;
}

header > *:nth-child(2) {
    text-decoration: underline;
}

table > tr, td {
    border: 2px solid black;
    border-collapse: collapse;
}